.label {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label:hover {
  color: rgb(28, 76, 82);
  font-weight: 500;
}

.input {
  margin-top: 6px;
  width: 70%;

  outline: none;
  border-radius: 3px;
  border: 1.5px solid rgba(50, 49, 49, 0.442);
}

.input:focus {
  border-color: teal;
}
